@model CA_sem2.Models.Leg

@section Scripts {
    @Scripts.Render("~/bundles/jquery")
       
}
     
         <div class="form-horizontal" role="form">
             <img src="@ViewBag.pic" style="width:100%; height:180px; border:1px solid green; margin-bottom:10px" />
                <div class="form-group">
                    <label for="nme" class="col-sm-4 control-label">From</label>
                    <div class="col-sm-8">  
                        @*@Html.TextBoxFor(model => model.StartLocation, new { @class = "label label-default" } )   *@            
                        <input type="text" class="form-control" value="@Model.StartLocation" id="nme" name="StartLocation" >
                    </div>
                </div>
                <div class="form-group">
                    <label for="fl" class="col-sm-4 control-label">Going To</label>
                    <div class="col-sm-8">                 
                        <input type="text" class="form-control" id="fl" value="@Model.FinishLocation" name="FinishLocation" placeholder="To">
                    </div>
                </div>
                <div class="form-group">
                    <label for="sd" class="col-sm-4 control-label">Start date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="sd" value="@Model.StartDate.ToShortDateString()" name="StartDate" placeholder="start date">
                    </div>
                </div>
                <div class="form-group">
                    <label for="fd" class="col-sm-4 control-label">Finish date</label>
                    <div class="col-sm-8">
                        <input type="text" class="form-control" id="fd" value="@Model.FinishDate.ToShortDateString()" name="FinishDate" placeholder="finish date">
                    </div>
                </div>
                
                    <div class="col-sm-8" role="form" >                   
                        @Html.DropDownList("guests", (SelectList)(ViewBag.guests), new { @class = "form-control" })                            
                    </div>
                
                @Ajax.ActionLink("Add a Guest", "_AddGuests", "Home", new { id = Model.Id }, new AjaxOptions { InsertionMode = InsertionMode.Replace, UpdateTargetId = "showGuests" }, new { @class = "btn btn-primary active" })
        </div>