@model CA_sem2.Models.Trip

@{
    ViewBag.Title = "EditTrip";
}


@section Scripts {
    @*@Scripts.Render("~/bundles/jqueryval")*@
       <script >
           $(function () {
               $("#btnCreateTrip").hide();
                         
           });
           
           $("#lgs").change(function () {
               var lgs = {
                   Id: $(this).val()
               };
               $.ajax({
                   type: 'POST',
                   url: '/Home/_ShowLegs',
                   cache: false,
                   contentType: 'application/json; charset=utf-8',
                   data: JSON.stringify(lgs),
                   success: function (data) {
                       $("#showLegs").html(data);
                   },
                   error: function () {
                       alert("error");
                   }
               });
           });
           function successMessage(data) {
               toastr.info(data.message)
               //alert("leg id :" + data.Id);
               if (data.isDup == "no" && data.updateValide == "no") {
                   var lgs = {
                       Id: data.Id
                   };
                   $.ajax({
                       type: 'POST',
                       url: '/Home/_ShowLegs',
                       cache: false,
                       contentType: 'application/json; charset=utf-8',
                       data: JSON.stringify(lgs),
                       success: function (data) {
                           $("#showLegs").html(data);
                       },
                       error: function () {
                           alert("error");
                       }
                   });
               }
               else if (data.isDup == "no" && data.updateValide == "yes") {
                   var lgs = {
                       Id: data.Id
                   };
                   $.ajax({
                       type: 'GET',
                       url: '/Home/EditTrip/' + data.Id,
                       cache: false,
                       contentType: 'application/json; charset=utf-8',
                       //data: JSON.stringify(lgs),
                       //success: function (data) {
                       //    $("#showLegs").html(data);
                       //},
                       //error: function () {
                       //    alert("error");
                       //}
                   });
               }
               else
                   alert(data.message);
           }
           
           $("#guests").change(function () {
               
               var gst = {
                   Id: $(this).val()
               };
               $.ajax({
                   type: 'POST',
                   url: '/Home/_viewGuest',
                   cache: false,
                   contentType: 'application/json; charset=utf-8',
                   data: JSON.stringify(gst),
                   success: function (data) {
                       $("#showGuests").html(data);
                   },
                   error: function () {
                       alert("error");
                   }
               });
           });
       </script>
}

<div id="viewTripContainer">
    @*<h2 style="margin-bottom:40px" >@Model.TripName</h2>*@
        
            <div  class="form-group"   >
                <div class="col-sm-3 pull-right" id="showGuests"  >
                </div>
            </div>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)

            <div class="col-sm-5" style="float:left" >
                <div class="form-horizontal" role="form">
                    <div class="form-group">
                        <h3 class="col-sm-6 control-label" style="font-family:cursive;" >@Model.TripName</h3>
                        <div class="col-sm-5 pull-right">                 
                            @using (Ajax.BeginForm("Create", "Home", null, new AjaxOptions { HttpMethod = "POST", InsertionMode = InsertionMode.Replace, UpdateTargetId = "showLegs" },
                                new { @class = "form-horizontal", @role = "form" }))
                                {
                                @Html.AntiForgeryToken()
                                @Html.ValidationSummary(true)
                        @Html.DropDownList("lgs", (SelectList)(ViewBag.Legs), new { @class = "form-control" })        
                        }
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="from" class="col-sm-4 control-label">Start Location</label>
                        <div class="col-sm-8">
                            <input type="text" value="@Model.StartLocation" class="form-control" id="from" name="StartLocation" placeholder="From">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="going" class="col-sm-4 control-label">Going to</label>
                        <div class="col-sm-8">
                            <input type="text" value="@Model.FinishLocation" class="form-control" id="going" name="FinishLocation" placeholder="To">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="sd" class="col-sm-4 control-label">Start date</label>
                        <div class="col-sm-8">
                            <input type="text" value="@Model.StartDate.ToShortDateString()" class="form-control" id="sd" name="StartDate" placeholder="start date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="fd" class="col-sm-4 control-label">Finish date</label>
                        <div class="col-sm-8">
                            <input type="text" value="@Model.FinishDate.ToShortDateString()" class="form-control" id="fd" name="FinishDate" placeholder="finish date">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="mg" class="col-sm-4 control-label"  >Minnimum guests</label>
                        <div class="col-sm-8">
                            <input type="text" value="@Model.MinGuests" class="form-control" id="mg" name="MinGuests" placeholder="Minnimum guests">
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="ss" class="col-sm-4 control-label"  >Completed??</label>
                        <div class="col-sm-8">
                            <input type="text" value="@ViewBag.status  (@ViewBag.progress%) and @Model.VStatus" class="form-control" id="ss" name="status" placeholder="Trip status">
                        </div>
                    </div>
                    <div class="row" >
                        <div class=" col-md-offset-1">
                            <div class="progress progress-striped active " >                 
                                <div class="progress-bar " role="progressbar" id="progBar" aria-valuenow="@ViewBag.progress" aria-valuemin="0" aria-valuemax="100" style="width: @ViewBag.progress%;">                   
                                </div>
                            </div>
                        </div> 
                    </div> 
                
                </div>
                                  
            </div>   
    }
            <div  class="form-group"   >
                <div class="col-sm-4" id="showLegs" >
                </div>
            </div>
    
    </div>